.header {
  background-image: url(../img/banner.jpg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .header .barra {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .header .barra {
        display: block; } }
    .header .barra .logo {
      color: #fff;
      font-weight: 400; }
      .header .barra .logo span {
        font-weight: 900; }
    @media (min-width: 768px) {
      .header .barra .navegacion {
        display: flex;
        gap: 2rem; } }
    .header .barra .navegacion a {
      color: #fff;
      display: block;
      font-size: 1.8rem; }
  .header .texto {
    text-align: center;
    color: #fff;
    margin-top: 5rem; }
    @media (min-width: 768px) {
      .header .texto {
        margin-top: 15rem; } }

@media (min-width: 768px) {
  .contenidoPrincipal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3.2rem; }

h4 {
  font-size: 3.8rem; }

img {
  max-width: 100%; }

.contenedor {
  width: 80%;
  margin: auto; }

.noPadding {
  padding: 0; }

.noMargin {
  margin: 0; }

.centrarTexto {
  text-align: center; }
