@import "../PARTES/variables";

.contactoBG {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: $blanco;
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 5rem;

    .campo {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;

        label {
            flex: 0 0 9rem;
            text-align: right;
        }

        input,
        textarea {
            flex: 1;
            border: 1px solid $claro;
        }
        textarea{
            height: 20rem;
        }
    }
}